h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}


body {
    margin: 0;
    font-family: 'Georgia', serif;
}

/* Nav Bar*/

.navbar {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.navbar .navbar-brand{
    color: #000000; /* Text color of the brand name */
    font-weight: bold; /* Makes the brand name bold */
    font-family: 'GloucesterProBoldExtraCondensed', sans;
    font-stretch: condensed;
    letter-spacing: -0.05em; /* Squeeze the text */
    line-height: 1.2; /* Makes the text appear taller */
}


@font-face {
    font-family: 'GloucesterProBoldExtraCondensed';
    src: url('fonts/GloucesterProBoldExtraCondensed.woff2') format('woff2'),
         url('fonts/GloucesterProBoldExtraCondensed.woff') format('woff'),
         url('fonts/GloucesterProBoldExtraCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it stays above other content */
}

.navbar-nav {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Ensure it takes full width */
    padding: 0; /* Remove default padding */
}

.navbar-nav .nav-link {
    display: inline-flex; /* Allows alignment and sizing */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    width: 80px; /* Set the width for equal length */
    height: auto; /* Set the height */
    border-radius: 10px; /* Half of the height for rounded corners */
    background-color: #e9ecef; /* Background color for the links */
    margin: 0 5px; /* Space between the links */
    text-align: center; /* Center text */
    padding: 10px 0px; /* Remove padding to control size with width and height */
    font-size: .8rem; /* Font size */
}

.navbar-brand span {
    font-size: 1.5rem; /* Adjust font size as needed */
    letter-spacing: -0.05em;
    line-height: 0.8; /* Taller appearance */
    color: #000000; 
}
.navbar-collapse {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: row; /* Stack items vertically on smaller screens */
    }

    .navbar-nav .nav-link {
        width: 100%; /* Full width for each link */
        margin: 3px 0; /* Space between items */
    }

    .navbar-collapse {
        flex-direction: row; /* Stack items vertically */
    }
}
/* About Page*/


.about {
    color: #f7e7dc;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2em;
    background-color: #758694;
    padding: 20px; 
    box-sizing: border-box; 
}

.about a {
    color: #130801;
    text-decoration: none;
}

.about a:hover, a:focus {
    text-decoration: none; 
}


.col-md-7 {
    position: relative;
    overflow: hidden; 
}

.slider {
    width: 100%;
    height: auto; 
    position: relative;
}

.slides {
    display: flex; 
    width: 50%; 
    animation: slide 15s infinite; 
}

.slide {
    min-width: 100%; 
    box-sizing: border-box; 
    padding-left: 20px;
}

img {
    width: 100%; 
    height: auto; 
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

.social-link {
    text-decoration: none; 
    color: #130801; /* Default text color */
    display: inline-flex; 
    align-items: center; /* Vertically center the content */
    transition: color 0.3s ease; 
}

.social-icon {
    max-width: 25px;
    transition: transform 0.3s ease; /* Smooth icon animation */
}

.social-link:hover .social-icon {
    transform: scale(1.2); 
}

.social-link:hover {
    color: #f7e7dc; /* Change text color on hover */
}
/* About Page*/

.footer {
    background-color: #f7e7dc;
    height: 60vh;
    color: #f7e7dc;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;

}


.map-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    padding-bottom: 26.25%; 
    height: 0;
    overflow: hidden;
    border-radius: 8px; 
    margin-bottom: -50px;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    border: 0;
}


@media (max-width: 576px) {
    .footer-text {
        font-size: 1em; 
    }

    .iframe-wrapper {
        padding-bottom: 75%; 
    }
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: #130801;
    background-color: #f7e7dc;
    padding-top: 10px;
}


/* About Page*/


/* Remove margins and paddings from carousel */
.carousel {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    padding: 0;
}

.carousel-item {
    margin: 0;
    padding: 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

/* Optional: Adjust carousel controls */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(5%);
}

/* Optional: Adjust carousel indicators */
.carousel-indicators {
    bottom: 10px; /* Adjust as needed */
}

.carousel-indicators li {
    background-color: #000; /* Change to desired color */
}

.carousel-indicators .active {
    background-color: #fff; /* Change to desired color for active indicator */
}

