h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}


body {
    margin: 0;
    font-family: 'Georgia', serif;
}

/* Nav Bar*/

.navbar {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.navbar .navbar-brand{
    color: #000000; /* Text color of the brand name */
    font-weight: bold; /* Makes the brand name bold */
    font-family: 'GloucesterProBoldExtraCondensed', sans;
    font-stretch: condensed;
    letter-spacing: -0.05em; /* Squeeze the text */
    line-height: 1.2; /* Makes the text appear taller */
}


@font-face {
    font-family: 'GloucesterProBoldExtraCondensed';
    src: url('fonts/GloucesterProBoldExtraCondensed.woff2') format('woff2'),
         url('fonts/GloucesterProBoldExtraCondensed.woff') format('woff'),
         url('fonts/GloucesterProBoldExtraCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it stays above other content */
}

.navbar-nav {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Ensure it takes full width */
    padding: 0; /* Remove default padding */
}

.navbar-nav .nav-link {
    display: inline-flex; /* Allows alignment and sizing */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    width: 80px; /* Set the width for equal length */
    height: auto; /* Set the height */
    border-radius: 10px; /* Half of the height for rounded corners */
    background-color: #e9ecef; /* Background color for the links */
    margin: 0 5px; /* Space between the links */
    text-align: center; /* Center text */
    padding: 10px 0px; /* Remove padding to control size with width and height */
    font-size: .8rem; /* Font size */
}

.navbar-brand span {
    font-size: 1.5rem; /* Adjust font size as needed */
    letter-spacing: -0.05em;
    line-height: 0.8; /* Taller appearance */
    color: #000000; 
}
.navbar-collapse {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: row; /* Stack items vertically on smaller screens */
    }

    .navbar-nav .nav-link {
        width: 100%; /* Full width for each link */
        margin: 3px 0; /* Space between items */
    }

    .navbar-collapse {
        flex-direction: row; /* Stack items vertically */
    }
}
/* About Page*/


.about {
    color: #f7e7dc;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2em;
    background-color: #758694;
    padding: 20px; 
    box-sizing: border-box; 
}

.about a {
    color: #130801;
    text-decoration: none;
}

.about a:hover, a:focus {
    text-decoration: none; 
}


.col-md-7 {
    position: relative;
    overflow: hidden; 
}

.slider {
    width: 100%;
    height: auto; 
    position: relative;
}

.slides {
    display: flex; 
    width: 50%; 
    animation: slide 15s infinite; 
}

.slide {
    min-width: 100%; 
    box-sizing: border-box; 
    padding-left: 20px;
}

img {
    width: 100%; 
    height: auto; 
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

.social-link {
    text-decoration: none; 
    color: #130801; /* Default text color */
    display: inline-flex; 
    align-items: center; /* Vertically center the content */
    transition: color 0.3s ease; 
}

.social-icon {
    max-width: 25px;
    transition: transform 0.3s ease; /* Smooth icon animation */
}

.social-link:hover .social-icon {
    transform: scale(1.2); 
}

.social-link:hover {
    color: #f7e7dc; 
}
/* About Page*/

/* Footer Page*/
.footer {
    background-color: #f7e7dc;
    height: 60vh;
    color: #f7e7dc;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2 {
    background-color: #f7e7dc;
    height: 20vh;
    color: #f7e7dc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.footer-text {
    text-align: center;
    width: 100%;
    margin: 0 auto; 
    color: #000; 
}
.iframe-wrapper {
    width: 70%; 
    height: 0;
    padding-bottom: 28%; 
    position: relative;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


@media (max-width: 768px) {
    .iframe-wrapper {
        width: 100%; 
        padding-bottom: 70%; 
    }
}





/* Footer Page*/


/* Home Page */

/* Remove margins and paddings from carousel */
.carousel {
    margin: 0;
    padding: 0;
  }

  .carousel-inner {
    padding: 0;
  }

  .carousel-item {
    margin: 0;
    padding: 0;
    text-align: center; /* Center images horizontally */
    width: 100%; /* Set a fixed width */
    height: auto;
    
  }

  .carousel-item img {
    width: 600px; /* Set a fixed width */
    height: auto;
    max-height: 500px; /* Ensure height stays within limits */
    display: block;
    margin: 0 auto; /* Center images horizontally */
    padding: 0;
}

  /* Optional: Adjust carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
      width: 5%;
      top: 50%; /* Center controls vertically */
      transform: translateY(-10%); /* Adjusts vertical alignment */
      z-index: 2; /* Ensure controls appear above the images */
  }
  /* Optional: Adjust carousel indicators */
  .carousel-indicators {
    bottom: 10px; /* Adjust as needed */
  }

  .carousel-indicators li {
    background-color: #000; /* Change to desired color */
  }

  .carousel-indicators .active {
    background-color: #fff; /* Change to desired color for active indicator */
  }

  .slider_section {
    width: 100%;
    height: auto;
    overflow: hidden; /* Prevents horizontal scrolling */
  }

  .carousel-inner .carousel-item img {
    border: 5px solid #F7E7DC; /* Coffee brown border */
    padding: 10px; /* Space between the image and the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    border-radius: 10px; /* Slightly rounded corners for a softer look */
}

/* Optional: Add some margin to space out the images in the carousel */
.carousel-item {
    margin: 15px 0;
}

#sliderpage {
    background-color: #405D72; /* Example: Dark background */
    color: black; /* Light text for contrast */
}


.carousel-item img {
    max-width: 70%;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto; /* Center images horizontally */
    padding: 0;
    border: 5px solid #8B4513; /* Coffee brown border */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    border-radius: 10px;
}

/* Home Page */
/* Coffee Page */
#coffee {
    background-color: #f7e7dc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Creates three columns */
    gap: 20px; /* Adjust spacing between columns */
    width: 90%; /* Adjust the width of the container */
    max-width: 1200px;
}

.photo-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Center items horizontally */
}

.menu-container {
    background-color: #ffffff;
    color: #374e6b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
}

.menu-header hr {
    border: 0;
    border-top: 1px solid #405D72;
    margin: 0;
    width: 50%;
    margin: 0 auto;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #405D72;
    padding-bottom: 5px;
}

.menu-section ul {
    list-style: none;
    padding: 0;
}

.menu-section ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
}

.menu-footer {
    text-align: center;
    font-size: 12px;
}

.menu-footer a {
    color: #405D72;
    text-decoration: none;
}

.menu-photo img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 300px; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr; /* Stack all elements vertically */
        gap: 10px; /* Adjust spacing */
    }

    .photo-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center; /* Center items horizontally */
    }
    .menu-container {
        max-width: 100%; /* Ensure it fits the container */
    }
    
    .menu-header h1 {
        font-size: 20px;
    }

    .menu-section h2 {
        font-size: 16px;
    }

    .menu-footer {
        font-size: 10px;
    }
}
/* Coffee Page */



/* Pastries Page */
.pastries {
    background-color: #f7e7dc;
    height: 140vh;
    font-size: 2em;
    padding: 20px; 
    box-sizing: border-box;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    max-width: 800px;
    margin: 0 auto;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-item h3 {
    margin: 10px 0 0;
    font-size: 0.4em;
}

@media (max-width: 600px) {
    .image-grid {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

@media (min-width: 350px) and (max-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (min-width: 701px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

/* Pastries Page */


/* History Page   */
.history-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.history-bg-overlay {
    background-color:  #ffffff;
}

.history-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.history-content {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    position: absolute;
    width: 100%;
    height: 100%; 
    padding: 1rem;
}

.history-text {
    color: white;
    padding: 2rem;
    width: 40rem;
    font-size: 2.5vh;
    opacity: 0;
    transform: translateY(6rem);
    transition: opacity 2s ease-out, transform 2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.history-text.visible {
    opacity: 1;
    transform: translateY(0);
}

.history-photos-container {
    width: 40rem;
    
    
}

.history-photos {
    margin: 1rem;
    width: 15rem;
    border-radius: 2rem;
    box-sizing: border-box;
    border: 0.1rem solid white;
    transition: transform 0.3s ease-in-out;
    
}

.history-photos:hover {
    transform: scale(1.1); 
}


.history-photos-row1,
.history-photos-row2 {
    display: flex;
    justify-content: space-between;
}

.history-heading {
    color: rgb(250, 213, 134);
    font-family: 'Brush Script MT', cursive;
    font-size: 4rem;
    
}

@media (max-width: 900px) {
    .history-photos-container {
        display: none; 
    }

    
}

/* History Page   */